<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team.kulkson" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!--android:theme="@android:style/Theme.NoTitleBar.Fullscreen"-->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_opcje"
            android:label="@string/title_activity_activity_opcje"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".KScore"
            android:screenOrientation="landscape" />
        <activity
            android:name=".KOpcje"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainMenu"
            android:screenOrientation="landscape" />
        <activity
            android:name=".KGame"
            android:screenOrientation="landscape">
        </activity>

        <service android:name=".KMusic" />

        <activity
            android:name=".KDeath"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_kdeath"></activity>
    </application>

</manifest>
